<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Memory</h3>
    <div class="row">
      <ul class="list-unstyled">
        {% for memory in site.data.settings.memory %}
        <li class="mb-2">
          <!-- 检查并遍历 memory 中的 images 列表 -->
          {% if memory.images %}
            <div class="memory-images">
              {% for image in memory.images %}
                <img src="{{ image }}" alt="{{ memory.title }}" class="img-fluid mb-2" style="max-width: 150px;">
              {% endfor %}
            </div>
          {% endif %}
          <!-- 显示标题 -->
          <a href="{{ memory.url }}" class="text-decoration-none">{{ memory.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
